# Java compiled files
target/

# Frontend dependencies
node_modules/
frontend/node_modules/
frontend/dist/

# Secret credentials
.env
frontend/.env

# Package locks
package-lock.json

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
